* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/*--------------------------------------------------------------
# Color variables
--------------------------------------------------------------*/
:root {
  --color_grey: rgb(128,128,128);
}

.green {
  color: var(--color_green);
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}


img {
  width:100%;
}



/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/

header {
  width: 60%;
  margin: 0 auto;
}


/*--------------------------------------------------------------
# nav
--------------------------------------------------------------*/
nav{
  width: 60%;
margin: 0 auto;
text-align: center;
}

nav a {
  font-weight: 600;
  color: var(--color_grey);
  margin: 0 2em;
}

/*--------------------------------------------------------------
# main
--------------------------------------------------------------*/

main {
  width: 80%;
  margin: 2em auto;
}

#map {
    height: 100%;
  }

/*--------------------------------------------------------------
# project card
--------------------------------------------------------------*/

.project-intro{
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.project-card {
  width: 24%;
}

.project-card p {
  margin: 0em 0;
}

/*--------------------------------------------------------------
# latest projects
--------------------------------------------------------------*/

.project {
  margin-top: 1em;
  display: flex;
}

.project img {
  width: 40%;
}

.project div {
  margin-left: 1em;
}

/*--------------------------------------------------------------
# checkout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

footer i {
  font-size: 2em;
}


/*--------------------------------------------------------------
# alignments
--------------------------------------------------------------*/

.mainwidth {
  width: 85%;
}

.aligncenter {
  margin: auto;
}

.margin-top {
  margin-top: 2em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.centertext {
  text-align: center;
}

.hidden {
  visibility: hidden;
}
